.fixed-header {
  @apply sticky top-0 z-30;
}

.navbar-wrap {
  @apply bg-base-200 text-base-content backdrop-blur transition-all duration-100;
  @apply flex w-full h-16;

  .navbar {
    @apply mx-4;

    .menu li {
      @apply mx-2;
      a {
        @apply py-1;
      }
    }
  }
}

.banner-wrapper {
  @apply px-6 py-8 md:py-10;
  @apply relative w-full text-center cursor-pointer;
  @apply bg-base-200 text-base-content;

  .banner-title, .search-group, .hot-words {
    @apply mx-auto md:w-3/4 lg:w-[50rem];
  }

  .banner-title {
    @apply relative text-xl md:text-3xl text-center;
    @apply mx-auto mb-4 whitespace-nowrap;
    transition: color .3s;
    font-weight: 700;

    &:hover {
      @apply text-primary;
    }
  }

  .search-group {
    @apply bg-base-100 h-11 leading-loose align-top relative;

    .search-btn {
      @apply cursor-pointer absolute left-0 top-0;
    }
  }
}

.search-group {
  @apply relative pl-14;
  border-radius: 4px;

  .search-btn {
    padding: 0 16px;
    line-height: 44px;
  }

  .search-input {
    border: 0;
    font-size: 14px;
    width: 100%;
    height: 100%;
    background: none;
  }

  .clear-btn {
    @apply absolute top-0 right-0 px-4 text-xs leading-10;
    display: none;
  }
}


.navbar-center {
  @apply hidden lg:block;
}

